asn.1/Makefile.am.*
asn.1/converter-example.mk
asn.1/libasn1.a
local.conf
build/
test_home/
asn.1/*.c
asn.1/*.h
xcuserdata/
*.orig
*.old
*.d
*.d.*
*.o
*~
*.swp
db/*.csv
db/*.db
*.a
*.dylib
*.so
test/pEpEngineTest
*.exe
Debug
Release
*.lib
*.obj
.DS_Store
ws
build-android/pEpEngine-android-1.zip
build-android/third-party
build-android/pEpEngine-android-1
build-linux/*
build-windows/libpEpasn1/libpEpasn1.vcxproj.user
*.dSYM*
*_test
msg4.asc
pep_Dokument_Titel.pdf
pEpEngine.vcxproj.user
Makefile.protocols
test/msg_encrypt_for_self.asc
tags
asn.1/pEpEngineASN1/pEpEngineASN1.vcxproj.user
sync/generated
*.xml
*.dot
*.svg
gpg-agent.conf
gpg.conf
pubring.gpg
random_seed
secring.gpg
trustdb.gpg
.pEp_management.db
.cache
__pycache__
*.pyc
test/python_tests/test?
test/pEp_test_home
test/TestDriver
test/local
test/include/LocalPlayground.h
test/src/engine_test/LocalPlayground.cc
.tags
*/.tags
*/*/.tags
asn.1/.generated
src/KeySync_*
src/Sync_*
src/sync_codec.*
src/distribution_codec.*
asn.1/keysync.asn1
asn.1/keyreset.asn1
asn.1/sync.asn1
asn.1/distribution.asn1
sync/.codecs
sync/.messages
sync/.actions
sync/.codegen
sync/.statemachines
sync/.copy
test/msg_2.0.asc
test/*.txt
lldb-history
*.swo
*.smp
test/EngineTests
test/googletest
test/tmp/*

src/commit_hash.h
.idea/
venv/
venv2/
cleangit.py
newgit

# ignore generated test data

test/655_16F07F382FB3CF5DF977005D1069C7CACF9C23C6.asc
test/655_5FBDE3C9E10552B1DD6D9763E89759391DE04053.asc
test/655_EB4308E2D5B9FEEF7488D14CFEE4AE51914D566D.asc
test/655_ECBA9555D9ADB1B68861B508032CCA777FFDBA14.asc
test/655_decrypted_only.eml
test/703_key_valid.asc
test/test_keys/736_a.asc
test/test_keys/736_b.asc
test/test_mails/ENGINE-654_bob_mail.eml

